{% extends 'layout.html' %}
{% from 'macro.html' import render_field %}
{% block content %}
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form method="post">
                        {{ form.hidden_tag() }}

                        {{ render_field(form.title) }}

                        {{ render_field(form.date) }}

                        {{ render_field(form.time_spent) }}

                        {{ render_field(form.knowledge) }}

                        {{ render_field(form.resources) }}

                        {{ render_field(form1.name) }}

                        <input type="submit" value="update entry" class="button">
                        <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
{% endblock %}