{% extends 'layout.html' %}
{% from 'macro.html' import render_field %}
{% block button %}
    {% if current_user.is_authenticated %}

        <a class="button icon-right" href="{{ url_for('entry') }}"><span>New Entry</span> <i
                class="material-icons">add</i></a>
        <a class="button icon-left" href="{{ url_for('logout') }}"><span>logout</span> <i
                class="material-icons">add</i></a>

    {% else %}
        <a class="button icon-right" href="{{ url_for('login') }}"><span>login</span> <i
                class="material-icons">add</i></a>
        <a class="button icon-right" href="{{ url_for('register') }}"><span>register</span> <i
                class="material-icons">add</i></a>
    {% endif %}
{% endblock %}
{% block content %}
            <div class="container">
                <div class="entry-list">
                    {% for entry in all_entries %}
                    <article>

                        <h2><a href="{{ url_for('entries',  entry_id=entry.id) }}">{{ entry.title }}</a></h2>
                        <time datetime="{{ entry.date }}">{{ entry.date }}</time>

                    </article>
                    {% endfor %}
                </div>
            </div>
{% endblock %}
