{% extends 'layout.html' %}
{% from 'macro.html' import render_field %}
{% block content %}
            <div class="container">
                <div class="entry-list">
                    {% for entry in all_entries %}
                    <article>
                        <h2><a href="detail.html">{{ entry.title }}</a></h2>
                        <time datetime="2016-01-31">January 31, 2016</time>
                    </article>
                    {% endfor %}
                </div>
            </div>
{% endblock %}
