{% extends 'layout.html' %}
{% from 'macro.html' import render_field %}
{% block content %}
    <div class="container">
        <div class="edit-entry">
            <h2>Login</h2>
            <form method="post">
                {{ form.hidden_tag() }}

                {{ render_field(form.username) }}

                {{ render_field(form.password) }}

                <input type="submit" value="login" class="button">

                <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>

            </form>
        </div>
    </div>
{% endblock %}