{% extends 'layout.html' %}
{% from 'macro.html' import render_field %}
{% block content %}
            <div class="container">
                <div class="edit-entry">
                    <h2>Register</h2>
                    <form method="post">

                        {{ render_field(form.username) }}

                        {{ render_field(form.password) }}

                        {{ render_field(form.confirm) }}

                        <input type="submit" value="register" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </form>
                </div>
            </div>
{% endblock %}